:root {
	--background-color: #1f2937;
	--text-primary: #f9faf8;
	--text-secondary: #e5e7eb;
	--button-color: #3882f6;
	--info-color: #1f2937;
	--quote-background: #e5e7eb;
}

* {
	margin: 0;
	padding: 0;
}

body,
nav,
ul,
.hero,
.hero-cta,
.information,
.card-info,
.quote-container,
.call-to-action,
.cta-info {
	display: flex;
}

body {
	flex-flow: column wrap;
	font-family: "Roboto";
	text-align: center;
}

nav,
footer,
.hero {
	background: var(--background-color);
	padding: 32px 160px;
}

nav {
	justify-content: space-between;
	align-items: center;
}

img.header-logo {
	width: 64px;
}

ul {
	list-style: none;
	display: flex;
	gap: 16px;
}

a,
.subtitle,
button,
.quote-author, footer {
	font-size: 18px;
}

a, .subtitle, footer{
	color: var(--text-secondary);
}

a {
	text-decoration: none;
}

.content {
	flex: 1;
}

.hero {
	padding: 64px 160px;
	gap: 16px;
	text-align: left;
}

.hero-cta {
	flex-flow: row wrap;
	gap: 32px;
	align-content: flex-start;
}

.title, button, .cta-title{
	color: var(--text-primary);
}

.title {
	font-size: 48px;
	font-weight: 900;
}

button {
	background: var(--button-color);
	border: none;
	padding: 8px 32px;
	border-radius: 8px;
	flex: 0 0 auto;
	font-weight: 600;
}

img.hero-img {
	height: 300px;
	border-radius: 8px;
}

.section-title {
	margin-top: 32px;
	font-size: 36px;
	font-weight: 900;
	color: var(--info-color);
}

.information, .quote-container{
	padding: 64px 190px;
}

.information {
	justify-content: space-between;
	align-items: start;
	gap: 16px;
}

.card-info {
	width: 200px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: var(--info-color);
	gap: 8px;
}

.card {
	width: 160px;
	aspect-ratio: 1/1;
	border-radius: 16px;
	overflow: hidden;
	border: 4px solid var(--background-color);
}

.card img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.quote-container {
	flex-flow: column wrap;
	background-color: var(--quote-background);
	color: var(--background-color);
}

.quote {
	font-size: 36px;
	font-weight: 300;
}

.quote-author {
	align-self: flex-end;
}

.call-to-action {
	background: var(--button-color);
	margin: 64px 160px;
	padding: 64px;
	border-radius: 16px;
	justify-content: space-between;
	align-items: center;
}

.cta-info {
	flex-flow: column wrap;
	align-items: flex-start;
}

.call-to-action button {
	border: 2px solid var(--text-primary);
}