:root {
	--background-color: #1f2937;
	--text-primary: #f9faf8;
	--text-secondary: #e5e7eb;
	--button-color: #3882f6;
	--info-color: #1f2937;
	--quote-background: #e5e7eb;
}

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-flow: column wrap;
	font-family: "Roboto";
	margin: 0;
	padding: 0;
	text-align: center;
}

nav {
	display: flex;
	padding: 16px 160px;
	justify-content: space-between;
	align-items: center;
	background: var(--background-color);
}

img.header-logo {
	width: 64px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 16px;
}

a {
	text-decoration: none;
	color: var(--text-secondary);
	font-size: 18px;
}

.content {
	flex: 1;
}

.hero {
	display: flex;
	background: var(--background-color);
	padding: 16px 160px;
	gap: 32px;
	text-align: left;
}

.hero-cta {
	display: flex;
	flex-flow: row wrap;
	gap: 8px;
	justify-content: baseline;
}

.title {
	color: var(--text-primary);
	font-size: 48px;
	font-weight: 900;
	margin: 0;
}

.subtitle {
	color: var(--text-secondary);
	font-size: 18px;
	margin: 0;
}

button {
	background: var(--button-color);
	border: none;
	padding: 8px 32px;
	color: var(--text-primary);
	font-weight: 700;
	border-radius: 8px;

	flex: none;
}

img.hero-img {
	height: 300px;
	border-radius: 8px;
}

.information {
	padding: 0 190px;
	display: flex;
	justify-content: space-between;
	align-items: start;

	gap: 16px;
}

.card-info {
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	color: var(--info-color);
}

.card {
	width: 160px;
	aspect-ratio: 1/1;
	border-radius: 16px;
	overflow: hidden;
}

.card img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.quote-container {
	display: flex;
	flex-flow: column wrap;
	background-color: var(--quote-background);
	padding: 64px 190px;
	color: var(--background-color);
}

.quote {
	font-size: 36px;
	font-weight: 300;
}

.quote-author {
	align-self: flex-end;
	font-size: 18px;
}

.call-to-action {
	background: var(--button-color);
	margin: 64px 160px;
	padding: 64px;
	border-radius: 16px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cta-info {
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
}

.cta-title {
	color: var(--text-primary);
}

.call-to-action button {
	color: var(--text-primary);
	font-size: 18px;
	font-weight: 600;
	border: 2px solid var(--text-primary);
}

footer {
	background: var(--background-color);
	color: var(--text-secondary);
	padding: 32px;
}
